@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 61.875rem;
  --breakpoint-lg: 64rem;
}

/* body{
    font-family: serif;
} */

.list {
  list-style: none;
  /* padding-left: 50px;
    padding-top: 30px; */
  /* max-width: 430px; */
}
/* .list_items{
    padding: 15px;
} */
.list_items span {
  display: block;
  margin-top: -33px;
}
.list_items .mono {
  display: block;
  margin-top: -26px;
}
.list_items::before {
  content: "\2022";
  color: #a641f5;
  display: inline-block;
  font-size: 2em;
  width: 1em;
  margin-left: -1em;
  margin-top: -15px;
}
.list_itemsmono::before {
  content: "\2022";
  color: #a641f5;
  display: inline-block;
  font-size: 2em;
  width: 1em;
  margin-left: -1em;
  margin-top: -10px;
}

.button {
  box-sizing: border-box;
  /* width: 0; */
  border-color: transparent transparent transparent #a641f5;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0px 0px 16px;
  height: 16px;
}

/* Define font families for each option */
body .serif {
  font-family: serif;
}

body .sans-serif {
  font-family: sans-serif;
}

body .monospace {
  font-family: monospace;
}

.custom-select {
  background-image: url(../public/assets/arrow.png);
  background-repeat: no-repeat;
  /* background-position: right center; */
  background-position: right 0.5rem center;
  padding-right: 2rem; /* Add some padding to make room for the icon */
  -webkit-appearance: none; /* Remove default arrow icon on Chrome/Safari */
  -moz-appearance: none; /* Remove default arrow icon on Firefox */
  appearance: none; /* Remove default arrow icon on other browsers */
}

.custom-select-mono {
  background-image: url(../public/assets/arrow.png);
  background-repeat: no-repeat;
  /* background-position: right center; */
  background-position: right 0.5rem center;
  padding-right: 3rem; /* Add some padding to make room for the icon */
  -webkit-appearance: none; /* Remove default arrow icon on Chrome/Safari */
  -moz-appearance: none; /* Remove default arrow icon on Firefox */
  appearance: none; /* Remove default arrow icon on other browsers */
}

.custom-select option {
  color: #333;
  background-color: #f5f5f5;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select {
  transition: background-color 0.2s ease-in-out;
}

.custom-select option {
  transition: background-color 0.2s ease-in-out;
}

.custom-select:focus option {
  background-color: #e0e0e0;
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 33.5px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a641f5;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #A641F5;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
