*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: contain;
    background: url(./images/bg-pattern-top.svg) left top repeat, url(./images/bg-pattern-bottom.svg) right bottom repeat;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 45%;
}
.inner{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 48%;
    background: url(./images/bg-pattern-card.svg);
}
.outter{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    height: 55%;
}