*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(204, 43%, 93%);
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    width: 42%;
    height: 380px;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 @media screen and (min-width: 375px) and (max-width: 768px) {
     .container{
        height: 560px;
        width: 40%;
        display: flex;
        border: 2px solid red;
     }
     .parenth:nth-of-type(1){
         height: 40%;
         border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background: #fff;
     }
     .parent:nth-of-type(2){
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         width: 375px;
     }
     .child:nth-of-type(1){
         width: 300px;
     }

 }
 
.parent:nth-of-type(1){
    background: #fff;
    height: 45%;
    width: 100%;
    padding: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.parent:nth-of-type(1) h3{
    padding-bottom: 10px;
    padding-top: 0;
    color: hsl(179, 62%, 43%);
    font-weight: 400;
}
.p2{
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    line-height: 25px;
}
.parent:nth-of-type(1) .text{
    padding-bottom: 10px;
    color: hsl(71, 73%, 54%);
    font-weight: 400;
}
.parent:nth-of-type(2){
    height: 60%;
    width: 100%;
    display: flex;
    color: hsla(0, 11%, 96%, 0.925);
}
.child:nth-of-type(1){
    background: hsl(179, 62%, 43%);
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
    border-bottom-left-radius: 5px;
}
.child:nth-of-type(2){
    background: hsla(179, 62%, 43%, 0.808);
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 5px;
    padding-top: 30px;
    padding-left: 30px;
}
.child:nth-of-type(1) button{
    width: 80%;
    height: 30px;
}
.child:nth-of-type(1) h5{
    padding-bottom: 15px;
}
.child:nth-of-type(2) h5{
    padding-bottom: 15px;
}
.child:nth-of-type(2) .right{
    padding-right: 90px;
    font-size: 13px;
    line-height: 16px;
}
.dollar{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}
.small{
    color: hsl(200, 77%, 92%);
    font-size: 12px;
    padding-left: 8px;
}
.small-1{
    color: hsl(204, 43%, 93%);
    margin-top: 15px;
    display: inline-block;
}
button{
    background:hsl(71, 73%, 54%);
    color: hsla(0, 11%, 96%, 0.925);
    border: none;
    margin-top: 28px;
    border-radius: 5px;
    box-shadow: 0 15px 10px hsla(120, 2%, 18%, 0.164);
}
