@import './variable';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif; 
}
.nav-links{
    color: $DarkGrayishBlue;
    font-size: .9em;
}

[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.tab.active{ 
    opacity: 0.4;
}
// .thumbnail-img.active{
//     border: 2px solid $orange;
//     border-radius: 12px;
// }
