@import './variables';
@media (min-width: 768px) {
    .mobile, .burger-menu{
        display: none;
    }
    .desktop{
    background: url('/images/image-hero-desktop.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
}

// @media (min-width: 250px) and (max-width: 439px) {
//        .login-register-btn .navItems,  .nav-wrapper .header .navItems, .desktop{
//     display: none;
//    }
   

@media (min-width: 250px) and (max-width: 439px) {
    body{
        overflow-x: hidden;
            #hover-f-mobile:hover,#hover-c-mobile:hover, #hover-cr-mobile:hover, #hover-a-mobile:hover{
    color: $almostBlack;
}
    }
    .container{
        flex-direction: column-reverse;
        width: 100%;
        .content{
            margin-top: -25%;
            width: 50%;
            align-items: center;
            padding-left: 150px;
              .hero{
            font-size: 2.5em;
            width: 430px;
            padding-top: 25%;
            padding-bottom: 5%;
            margin-left: 50px;
            color: $almostBlack;
              }
             .description{
            font-size: 1em;
            width: 330px;
            line-height: 25px;
            color: $mediumGray;
            text-align: center;
            padding-bottom: 20px;
        }
        .btn{
            margin-top: 15%;
            width: 145px;
            height: 50px;
            margin-bottom: 50px;
            .learn-more{
                width: 100%;
                height: 100%;
                font-size: 1.2em;
                border-radius: 15px;
                color: $almostWhite;
                background: $almostBlack;
                border: 2px solid transparent;
                font-weight: 700;
                  &:hover{
                color: $almostBlack;
                background: $almostWhite;
                cursor: pointer;
                border: 2px solid;
            }
            }
        }
        .sponsors{
            display: flex;
            justify-content: space-evenly;
            margin-top: 15%;
            width: 50%;
            .sponsors-brand{
                padding: 0 10px;
            }
        }
        }
    }
       .login-register-btn .navItems,  .nav-wrapper .header .navItems, .desktop{
    display: none; 
        }
        .menu{
    width: 32px;
    height: 18px;
    background: url('/images/icon-menu.svg');
    background-repeat: no-repeat;
    margin-top: -10px;
    margin-bottom: -35px;
    margin-left: -60px;
    }
        .illustrator{
            margin-top: -15%;
            width: 103.9%;
            margin-left: -12%;
       .mobile img{
        width: 120%;
}
}
         .closebtn {
            margin-top: 15px;
            // margin-left: -50px;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0;
            right: 20px;
            background: url(/images/icon-close-menu.svg);
            &:hover{
                cursor: pointer;
            }
        }
}

@media (min-width: 440px) and (max-width: 550px) {
    body{
        overflow-x: hidden;
            #hover-f-mobile:hover,#hover-c-mobile:hover, #hover-cr-mobile:hover, #hover-a-mobile:hover{
    color: $almostBlack;
}
    }

    #mySidenav
  {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: $almostWhite;
  overflow-x: hidden; 
  transition: 0.5s;
  padding-top: 60px;

  .header{
            position: absolute;
            width: 280px;
            top: 100px;
            right: 0;
            transition: 0.4s ease;
            .navLinks{
                    padding: 8px 8px 8px 32px;
                    // padding: 8% 10% 8% 12%;
                    font-size: 1em;
                    color: $mediumGray;
                    display: block;
                }
        }
.mobile-login{
    position: absolute;
    top: 250px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    .login-register-btn-mobile{
        .login{
            padding: 35px 400px;
        }
        .brd{
            border: 2px solid $mediumGray;
            padding: 14px 70px;
            border-radius: 12px;
            &:hover{
                border-color: $almostBlack;
            }
        }
        // li{
        //     // padding-left: 20px;
        //     // padding-right: 35px;
        // }
    }
}
}  

    .container{
        flex-direction: column-reverse;
        width: 100%;
        .content{
            margin-top: -25%;
            width: 50%;
            align-items: center;
            padding-left: 150px;
              .hero{
            font-size: 2.8em;
            width: 430px;
            padding-top: 30%;
            padding-bottom: 5%;
            margin-left: 15px;
            color: $almostBlack;
              }
             .description{
            font-size: 1.4em;
            width: 490px;
            line-height: 25px;
            color: $mediumGray;
            text-align: center;
            padding-bottom: 20px;
        }
        .btn{
            margin-top: 15%;
            width: 145px;
            height: 50px;
            margin-bottom: 50px;
            .learn-more{
                width: 100%;
                height: 100%;
                font-size: 1.2em;
                border-radius: 15px;
                color: $almostWhite;
                background: $almostBlack;
                border: 2px solid transparent;
                font-weight: 700;
                  &:hover{
                color: $almostBlack;
                background: $almostWhite;
                cursor: pointer;
                border: 2px solid;
            }
            }
        }
        .sponsors{
            display: flex;
            justify-content: space-evenly;
            margin-top: 15%;
            width: 50%;
            .sponsors-brand{
                padding: 0 18px;
            }
        }
        }
    }
       .login-register-btn .navItems,  .nav-wrapper .header .navItems, .desktop{
    display: none; 
        }
        .menu{
    width: 32px;
    height: 18px;
    background: url('/images/icon-menu.svg');
    background-repeat: no-repeat;
    margin-top: -10px;
    margin-bottom: -35px;
    margin-left: -60px;
    }
        .illustrator{
            margin-top: -15%;
            width: 103.9%;
            margin-left: -12%;
       .mobile img{
        width: 120%;
}
}
         .closebtn {
            margin-top: 15px;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0;
            right: 20px;
            background: url(/images/icon-close-menu.svg);
            &:hover{
                cursor: pointer;
            }
        }
}