@media (min-width: 769px) {
    .mobile, .burger-menu{
        display: none;
    }
}
@media  (min-width: 440px) and (max-width: 680px) {
    .navEl{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    body{
        // overflow-x: hidden;
           .navBar{
        display: none;
    } 
     .desktop{
        display: none;
    }
    .navItems{
        display: none;
    }
    }
    .container{
        flex-direction: column-reverse;
    }
    .burger-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .mobile{
            width: 100%;
            height: 100%;
    }
}