@media (min-width: 769px) {
    .mobile, .burger-menu{
        display: none;
    }
}
@media  (min-width: 440px) and (max-width: 680px){
   .login-register-btn .navItems,  .nav-wrapper .header .navItems, .desktop{
    display: none;
   }
   body{
    overflow-x: hidden;

   }
}