*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{
        background-image: url(./images/bg-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
}
#container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
h1{
    font-family: 'Poppins', sans-serif;
}