@import "./_reset";

$bg: "/images";
body {
  font-family: "Josefin Sans", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .main_container {
    height: 550px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../../#{$bg}/bg-pattern-desktop.svg);
      width: 62.5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 120px;
      .hero {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.2em;
        font-weight: 700;
        margin-top: -50px;
        .text {
          color: $desaturatedRed;
          font-weight: 300;
        }
      }
      .description {
        color: $desaturatedRed;
        line-height: 25px;
        margin-top: -125px;
        font-size: 0.9em;
        padding: 30px 0;
      }
      .form_field {
        margin-top: -120px;
      }
      .form_control{
        position: relative;
      }
      .submit{
        position: absolute;
        right: 25%;
        top: 0;
      }
      .form_field button{
        width: 80px;
        background: $desaturatedRed;
        text-align: center;
        padding: 0.9em;
        border-radius: 1.9em;
        border: 1px solid transparent;
      }

      .form_field input {
        width: 75%;
        border-radius: 1.9em;
        padding: 1.1em;
        border: 2px solid gray;
        opacity: 0.5;
      }
      .error_control{
        position: absolute;
        right: 42%;
        top: 18%;
        display: none;
      }
      .form_field input[placeholder] {
        padding-left: 20px;
        color: #000;
      }
      .error_message {
        padding-top: 10px;
        .small__text,
        .error__email{
          padding-left: 1.8em;
          color: $softRed;
        }
      }
    }
    .avarta_image{
      width: 40%;
      height: 100%;
      .desktop img{
        width: 100%;
        height: 100%;

      }
    }
  }
}


@media (max-width: 23.438rem) {
    main{
      width: 60%;
    }
}

