.product{
    height: 100vh;
    display: flex;
    width: 77%;
    justify-content: space-between;
    margin: 0 auto;
    top: 540px;
    position: relative;
    margin-top: 70px;
    .interaction {
        width: 65%;
        height: 100%;
    
        .desktopIn {
            width: 100%;
        }
    }
    
    .describ{
        width: 52.4%;
        top: 30.5%;
        height: 47%;
        position: absolute;
        left: 50%;
        padding-left: 60px;
        padding-top: 50px;
        .VR{
            font-size: 15px;
            color: $darkGray;
            // width: 93%;
            padding-top: 10px;
        }
    }
}