@import './_reset';

body{
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
}
.main_container{
  width: 100%;
  margin: 2rem 0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  .avarta_image{
    background: url(./images/hero-desktop.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}