@import './_reset';

body{
    font-family: 'Josefin Sans', sans-serif;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .main_container{
  height: 550px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .content{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: repeat;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 120px;
    margin-top: -20px;
    .hero{
       text-transform: uppercase;
       font-size: 3rem;
       letter-spacing: 0.2em;
       font-weight: 700;
       margin-top: -50px;
      .text{
      color: $desaturatedRed;
      font-weight: 300;
    }
  }
    .description{
      color: $desaturatedRed;
      line-height: 25px;
      margin-top: -125px;
      font-size: 16px;
    }
    form{
      margin-top: -120px;
    }
    form .arrow{
      width: 70px;
      height: 40px;
      background: $softRed;
      text-align: center;
      padding-top: 10px;
      border-radius: 20px;
      position: absolute;
      right: 640px;
      top: 459px;
    }
    form input{
      width: 75%;
      height: 40px;
      border-radius: 20px;
      border: 1px solid gray;
      opacity: 0.5;
    }
    form input[placeholder]{
      padding-left: 45px;
      color: #f00;
      // text-align: center;
    }
  }
  & .avarta_image{
    width: 35%;
    height: 100%;
    }
  }
}

.avarta_image .desktop{
          background-image: url(./images/hero-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
          }