@mixin achievement{
    .achievement{
    position: relative;
    top: 450px;
    height: 100vh;
    width: 77%;
    margin: 0 auto;
    .achiev_wrapper{
        width: 100%;
        .works{
            z-index: 3;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 50px;
            line-height: 35px;
            .view{
                width: 14%;
                height: 40px;
                text-transform: uppercase;
                font-size: 1em;
                display: inline-block;
                word-spacing: 5px;
            }
        }
        .grid-container{
            display: grid;
            width: 100%;
            border: 1px solid;
            grid-template-columns: auto auto auto auto;
            // grid-gap: 20px 5px;
            object-fit: cover;
            .grid-content{
                height: 450px;
                width: 100%;
            }
        }
}
.flexbox{
    width: 255px;
    height:100%;
}
.content{
    position: relative;
    top: -85px;
    left: 15%;
    text-transform: uppercase;
}

.deep-earth{
    background: url(/images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    // background-size: cover;
}
.night-arcade{
    background: url(/images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.soccer-team{
    background: url(/images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid{
    background: url(/images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vr{
    background: url(/images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pocket{
    background: url(/images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.curiosity{
    background: url(/images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fisheye{
    background: url(/images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
}
}