// ## Colors

// ### Primary

$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);

// ### Accent

$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);

// ### Neutral

$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}