@import './reset';

$bg: "./images";

.nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 4% 10%;
}
.logo{
    width: 50%;
    img{
        width: 20%;
        height: 100%;
    }
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 18%;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .wrapper{
        display: flex;
        flex-direction: column;
        // width: 80%;
        .container__section:nth-child(1),
        .container__section:nth-child(2){
            height: 100vh;
        }
        .container__section{ 
        padding: 0 10%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .left, .right{
            width: 50%;
        }
        .get__started{
            color: $lightGrayishBlue;
        }
        .left .hero, .get__started{
            font-size: 1.9em;
            width: 93%;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 4%;
        }
        .left .description, .description__content{
            font-size: 0.9em;
            width: 89%;
            padding-bottom: 4%;
        }
        .form input{
            width: 45%;
        }
        .form input, .form__section input{
            padding: 2% 4%;
            border: 1px solid hsl(0, 0%, 75%);
            border-radius: 3px;
        }
        .right img{
            width: 100%;
            height: 100%;
        }
    }
}
}
.btn{
    margin-left: 20px;
    padding: 2% 8%;
}
 .btn, .btn__start{
            background: $brightBlue;
            color: $lightGrayishBlue;
            border-radius: 3px;
            border: 1px solid transparent;
}
.link{
        display: flex;
        justify-content: space-between;
        width: 30.5%;
        align-items: center;
        padding-bottom: 0.5%;
        margin-bottom: 5%;
        border-bottom: 1px solid $moderateCyan;
        color: $moderateCyan;
}
.form__section input{
    width: 100%;
    padding: 3% 6%;
}
.btn__start{
    margin-top: 30px;
    padding: 2.5% 8%;
}

.quotes{
    width: 63%;
    height: 5%;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 5px 25px rgba(134, 133, 133, 0),
                1px 5px 25px rgba(0, 0, 0, 0),
                -1px 5px 25px rgba(0, 0, 0, 0),
                -1px 5px 25px rgba(0, 0, 0, 0.2);
    .quotes__content{
        font-size: 0.85em;
        padding-top: 10px;
    }
    .avarta__content{
        padding-top: 20px;
        display: flex;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }
    .avarta__detail{
        padding: 0 4%;
        .details:nth-child(1){
            font-weight: 700;
            font-size: 0.8em;
        }
        .fd{
            font-size: 0.7em;
        }
    }
}

.footer{
    height: 55vh;
}
.container__section:nth-child(3){
    height: 45vh;
    background: $desaturatedBlue;
    .left #description{
        color: $lightGrayishBlue;
        width: 85%;
    }
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background: $veryDarkBlue;
    padding: 4% 10%;
    flex-direction: column;
    .wrapper__footer{
        display: flex;
        justify-content: space-between;
    }
    .footer__section:nth-child(4){
        display: flex;
        flex-direction: row;
        width: 12%;
        .social__media{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .footer__section:nth-child(1){
        justify-content: space-between;
        height: 100%;
        margin-left: -2%;
        p, a{
            padding-bottom: 2%;
        }
        .icon{
            padding: 0 5%;
        }
    }
    .footer__section:nth-child(2){
        display: flex;
        margin-top: 10px;
    }
    .footer__section{
        width: 40%;
        flex-direction: column;
        height: 60%;
        justify-content: space-around;
        color: $lightGrayishBlue;
    }
    .footer__links{
        color: $lightGrayishBlue;
    }
}